body {
  background-color: #eeeeee;
  padding: 1em;
}

#searchterm {
  font-size: 3em;
  position: absolute;
  padding: 1em;
}

.tweet {
  background-color: white;
  font-size: 2em;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 6px 6px 6px 6px;
  line-height:normal;
}

.notweet {
  text-align: center;
}

.author {
  color: grey;
}

.date {
  font-style: italic;
  color: lightgrey;
}